HELP.md
.gradle
build/
log/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**application.yml
!**/src/main/**application.yml
!**/src/main/**application.properties

build.gradle


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache




### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.gz
*.log
out/



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
!/.gitignore
lib/
templates/static/app/
