<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/config :: configFragment"/>

    <body>
        <header th:replace="fragments/header :: headerFragment"></header>
        <div class="loader"></div>
        <section>
            <h3 style="padding-top: 50px; padding-left: 130px"><b>질병 정보 그래프</b></h3>

            <div class="container col-lg-12">
                <div class="align-items-center align-content-between">
                    <table id="diseaseTable">
                        <tbody id="diseaseList">
                            <tr th:each="digName : ${diagName}" class="digNameTR" hidden="true">
                                <td th:text="${digName.name}"></td>
                                <td th:text="${digName.count}"></td>
                            </tr>

                            <tr th:each="dCount : ${dogCount}" class="dCountTR" hidden="ture">
                                <td th:text="${dCount.gender}"></td>
                                <td th:text="${dCount.type}"></td>
                                <td th:text="${dCount.count}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-lg-6" id="digPieChart" style="width: 900px; height: 500px;"></div>
                        <div class="col-lg-6" id="dogBarChart"></div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h3 style="padding-left: 130px"><b>AI 질병 진단 모델 관리</b></h3>
            <div class="col-lg-12">
                <form action="/api/AIRemodeling" method="post" id="modelForm"  th:object="${symptomForm}">
                    <div class="row" style="padding-left: 150px; padding-top:20px;">
                       다음 사항들을 입력합니다.
                    </div>
                    <div class="row" style="padding-left: 150px; padding-top:10px;">
                        <input type="text" class="form-control" th:field="*{model}" placeholder="증상 추가" style="width: 280px;"required>
                        <input type="text" class="form-control" th:field="*{test_size}" placeholder="test_set" style="width: 110px;" required>
                        <input type="text" class="form-control" th:field="*{random_state}" placeholder="random_state" style="width: 158px;" required>

                        <div id="changeBtn" class="container-login100-form-btn" style="padding-left: 30px; width: 210px;">
                            <div class="wrap-login100-form-btn" >
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn" type="submit" id="submitModel">
                                    변경완료
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <script src="../../../static/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

            // form - submit delay
            $('form').submit(function (e) {
                let form = this;
                // 로딩바 가져오기
                $("#changeBtn").hide();
                $(".loader").fadeIn();
                e.preventDefault();
                setTimeout(function () {
                    form.submit();
                    alert("등록이 완료됐습니다!");
                }, 5000);
            });

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawPieChart);

            function drawPieChart() {

                let diseaseBody = document.getElementsByTagName("tbody");
                let digNameTR = document.getElementsByClassName("digNameTR");

                let diagName = [];
                let diagCount = [];
                for(let i = 0; i < digNameTR.length; i++) {
                    diagName.push(diseaseBody[0].children[i].children[0].textContent);
                    diagCount.push(parseInt(diseaseBody[0].children[i].children[1].textContent));
                }

                let diagData = [];
                diagData.push(['진단 질병 이름', '빈도']);

                for(let i = 0; i < digNameTR.length; i++) {
                    let tempData = [];
                    tempData.push(diagName[i]);
                    tempData.push(diagCount[i]);

                    diagData.push(tempData);
                }

                var data = google.visualization.arrayToDataTable(diagData);

                var options = {
                    title: '질병 이름에 따른 질병 진단 정보',
                    slices: {
                        0: { color: '#3399FF' },
                        1: { color: 'orange' },
                        2: { color: '#9933CC' }
                    }
                };

                var chart = new google.visualization.PieChart(document.getElementById('digPieChart'));

                chart.draw(data, options);
            }

            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawDogBarChart);

            function drawDogBarChart() {

                let dogBody = document.getElementsByTagName("tbody");
                let dCountTR = document.getElementsByClassName("dCountTR");
                let digNameTR = document.getElementsByClassName("digNameTR");

                let digNameLen = digNameTR.length;

                let dType = [];
                for(let i = digNameLen; i < digNameLen + dCountTR.length; i++) {
                    let dtype = dogBody[0].children[i].children[1].textContent;
                    if(!dType.includes(dtype)) {
                        dType.push(dtype);
                    }
                }

                let dGenger = [];
                for(let i = 0; i <dType.length; i++) {
                    dGenger.push([dType[i], 0, 0])
                }

                for(let i = 0; i < dType.length; i++) {
                    for(let j = digNameLen; j < digNameLen + dCountTR.length; j++) {
                        let dtype = dogBody[0].children[j].children[1].textContent;
                        let dgender = dogBody[0].children[j].children[0].textContent;
                        let dcount = parseInt(dogBody[0].children[j].children[2].textContent);

                        if(dtype == dGenger[i][0]) {
                            if(dgender == "수컷") {
                                dGenger[i][1] = dcount;
                            }
                            else if(dgender == "암컷") {
                                dGenger[i][2] = dcount;
                            }
                        }
                    }
                }

                let dData = [];
                dData.push(['반려견 종류', '수컷', '암컷']);
                for(let i = 0; i < dGenger.length; i++) {
                    dData.push([dGenger[i][0], dGenger[i][1], dGenger[i][2]]);
                }

                var data = google.visualization.arrayToDataTable(dData);

                var options = {
                    title: '성별에 따른 반려견 종류 정보',
                    chartArea: {width: '50%'},
                    annotations: {
                        alwaysOutside: true,
                        textStyle: {
                            fontSize: 12,
                            auraColor: 'none',
                            color: '#555'
                        },
                        boxStyle: {
                            stroke: '#ccc',
                            strokeWidth: 1,
                            gradient: {
                                color1: '#f3e5f5',
                                color2: '#f3e5f5',
                                x1: '0%', y1: '0%',
                                x2: '100%', y2: '100%'
                            }
                        }
                    },
                    hAxis: {
                        title: '빈도',
                        minValue: 0,
                    },
                    vAxis: {
                        title: '반려견 종류'
                    }
                };

                var chart = new google.visualization.BarChart(document.getElementById('dogBarChart'));

                chart.draw(data, options);
            }
        </script>

        <footer th:replace="fragments/footer :: footerFragment"></footer>
    </body>
</html>