<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: configFragment">
</head>
<body>
<header th:replace="fragments/header :: headerFragment"></header>

<div class="limiter">
    <div class="container-login100" style="background-image: url('../../static/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" action="/api/disease/form" th:object="${DiseaseForm}" method="post">
                <!--                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                <span class="login100-form-title p-b-49">문진표 작성</span>

                <div id="hideForm">
                    <div>
                        <label th:for="gender">치료 할 반려견을 선택해주세요!</label>
                    </div>

                    <div class="form-option">
                        <select id="dogs" th:field="*{choice}">
                            <option th:each="dog : ${dogs}" th:value="${dog.name}" th:text="${dog.name}"></option>
                        </select>
                    </div>

                    <div>
                        <label th:for="sym">증상 3~5개를 선택해주세요!</label>
                    </div>
                    <div class="form-option">
                        <select id="multi-select" multiple="multiple" th:field="*{symptom}">
                            <option th:each="symp : ${spt}" th:value="${symp.name}" th:text="${symp.name}"></option>
                        </select>
                    </div><br/>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit" id="btn_hide">
                                문진표 제출
                            </button>
                        </div>
                    </div>
                </div>
                <div class="my-progress-bar" style=" text-align:center;" id=circleBar></div>
                <br/>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>
<!--===============================================================================================-->
<script src="../../../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/../../static/js/multiselect.js"></script>
<script>

    // 페이지가 로드될 때 바로 실행
    $(document).ready(function(){
        var dogCount = $("#dogs option").size();
        if(dogCount == 0){
            location.href = "/member/dog/save";
            alert("등록된 반려견이 존재하지 않습니다!");
        }
        console.log(dogCount);
    });

    $("#multi-select").multiselect({width:'250px'});
    // form - submit delay
    $('form').submit(function (e) {
        let form = this;
        // <select>에서 선택된 <option>의 개수를 가져옴
        var cnt = $("#multi-select option:selected").size();
        if (cnt == 0) {
            alert("증상을 입력하세요!");
            e.preventDefault();
        } else if ((cnt > 0 && cnt < 3) || cnt > 5) {
            alert("입력한 증상 갯수를 확인해주세요! ("+ cnt + "개 입력됨)");
            e.preventDefault();
        } else {
            $("#hideForm").hide();
            $(".my-progress-bar").circularProgress({
                line_width: 10,
                color: "#673ab7",
                starting_position: 0, // 12.00 o' clock position, 25 stands for 3.00 o'clock (clock-wise)
                percent: 0, // percent starts from
                percentage: true,
                text: "현재 진단중...",
            }).circularProgress('animate', 100, 5000);
            e.preventDefault();
            setTimeout(function () {
                form.submit();
            }, 5100);
        }
    });

    // $("#btn_hide").click(function () {
    //     // <select>에서 선택된 <option>의 개수를 가져옴
    //     var cnt = $("#multi-select option:selected").size();
    //     console.log(cnt);
    //
    //     if (cnt == 0) {
    //         alert("증상을 입력하세요!");
    //     } else if ((cnt > 0 && cnt < 3) || cnt > 5) {
    //         alert("입력한 증상 갯수를 확인해주세요! ("+ cnt + "개 입력됨)");
    //     } else{
    //         $(this).css("display","none");
    //         $("#hideForm").css("display","none");
    //         $(".my-progress-bar").circularProgress({
    //             line_width: 10,
    //             color: "#673ab7",
    //             starting_position: 0, // 12.00 o' clock position, 25 stands for 3.00 o'clock (clock-wise)
    //             percent: 0, // percent starts from
    //             percentage: true,
    //             text: "현재 진단중...",
    //         }).circularProgress('animate', 100, 5000);
    //     }
    // });
</script>
<!--===============================================================================================-->
<script src="../../../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../../../static/vendor/bootstrap/js/popper.js"></script>
<script src="../../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../../../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../../../static/vendor/daterangepicker/moment.min.js"></script>
<script src="../../../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../../../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="../../../static/js/main.js"></script>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="../../../static/js/postcode-api.js"></script>

<footer th:replace="fragments/footer :: footerFragment"></footer>

</body>
</html>