<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/config :: configFragment"/>

    <body>
        <header th:replace="fragments/header :: headerFragment"></header>
        <div class="loader"></div>
        <section>
            <h3 style="padding-top: 50px; padding-left: 130px"><b>전체 질병 정보</b></h3>

            <div class="container col-lg-12">
                <div class="align-items-center align-content-between">
                    <table id="diseaseTable">
                        <tbody id="diseaseList">
                            <tr th:each="disease : ${diseases}" class="diseaseTR" hidden="true">
                                <td th:text="${disease.type}"></td>
                                <td th:text="${disease.count}"></td>
                            </tr>

                            <tr th:each="di : ${dis}" class="diTR" hidden="true">
                                <td th:text="${di.name}"></td>
                                <td th:text="${di.type}"></td>
                            </tr>

                            <tr th:each="diName : ${disName}" class="diNameTR" hidden="true">
                                <td th:text="${diName.name}"></td>
                                <td th:text="${diName.count}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-lg-6" id="disPieChart" style="width: 900px; height: 500px;"></div>
                        <div class="col-lg-6" id="disDonutChart" style="width: 900px; height: 500px;"></div>
                    </div>
<!--                    <div class="col-md-6" id="disTreeMap" style="width: 900px; height: 500px;"></div>-->
<!--                    <div class="col-md-6" id="disHistogram" style="width: 900px; height: 500px;"></div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-6" id="disBarChart" style="width: 900px; height: 500px;"></div>-->
<!--                        <div class="col-lg-6" id="disStepChart" style="width: 900px; height: 500px;"></div>-->
<!--                    </div>-->
                </div>
            </div>
        </section>

        <section>
            <h3 style="padding-left: 130px"><b>AI 질병 진단 모델 관리</b></h3>
            <div class="col-lg-12">
                <form action="/api/AIRemodeling" method="post" id="modelForm"  th:object="${symptomForm}">
                    <div class="row" style="padding-left: 150px; padding-top:30px;">
                       다음 사항들을 입력합니다.
                    </div>
                    <div class="row" style="padding-left: 150px; padding-top:10px;">
                        <input type="text" class="form-control" th:field="*{model}" placeholder="증상 추가" style="width: 330px;"required>
                        <input type="text" class="form-control" th:field="*{test_size}" placeholder="test_set" style="width: 110px;" required>
                        <input type="text" class="form-control" th:field="*{random_state}" placeholder="random_state" style="width: 158px;" required>
                    </div>
                    <div class="container-login100-form-btn" style="padding-left: 200px; padding-top: 30px; width: 350px;">
                        <div class="wrap-login100-form-btn" >
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit" id="submitModel">
                                변경완료
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

            <section>
            <h3 style="padding-top: 40px; padding-left: 130px"><b>동물병원 예약 내역</b></h3>
            <br/>

            <div class="col-md-12">
                <div class="container">
                    <div>
                        <table class="table table-horizontal table-striped table-bordered">
                            <thead class="thead-strong">
                                <tr>
                                    <th>병원이름</th>
                                    <th>방문날짜</th>.
                                    <th>병원주소</th>
                                    <th>전화번호</th>
                                    <th>예약내용</th>
                                    <th>사용자명</th>
                                </tr>
                            </thead>

                            <tbody id="tbody">
                                <tr th:each="reserve : ${reserves}">
                                    <td><a th:href="@{/admin/reserves/settings/{id}(id = ${reserve.id})}" th:text="${reserve.name}"></a></td>
                                    <td th:text="${reserve.date}"></td>
                                    <td th:text="${reserve.address}"></td>
                                    <td th:text="${reserve.tel}"></td>
                                    <td th:text="${reserve.description}"></td>
                                    <td th:text="${reserve.member.getName()}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <script src="../../../static/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

            // form - submit delay
            $('form').submit(function (e) {
                let form = this;
                // 로딩바 가져오기
                $("#submitModel").hide();
                $(".loader").fadeIn();
                e.preventDefault();
                setTimeout(function () {
                    form.submit();
                    alert("등록이 완료됐습니다!");
                }, 5000);
            });

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawPieChart);

            function drawPieChart() {

                // let diseaseRows = document.getElementsByTagName("tr");

                let diseaseBody = document.getElementsByTagName("tbody");
                console.log(diseaseBody[0].children[0]);
                console.log(diseaseBody[0].children[1]);
                console.log(diseaseBody[0].children[4]);

                let diseaseTR = document.getElementsByClassName("diseaseTR");
                console.log("몇 개: " + diseaseTR.length);

                console.log(diseaseBody[0].children[0].children[0].textContent);
                console.log(diseaseBody[0].children[0].children[1].textContent);

                let diseaseType = [];
                let diseaseCount = [];
                for(let i = 0; i < diseaseTR.length; i++) {
                    diseaseType.push(diseaseBody[0].children[i].children[0].textContent);
                    diseaseCount.push(parseInt(diseaseBody[0].children[i].children[1].textContent));
                }
                //
                // for(let i = 0; i < diseaseRows.length; i++) {
                //     diseaseType.push(diseaseRows[i].children[0].textContent);
                //     diseaseCount.push(parseInt(diseaseRows[i].children[1].textContent));
                // }

                let diseaseData = [];
                diseaseData.push(['질병 타입', '빈도']);

                for(let i = 0; i < diseaseTR.length; i++) {
                    let tempData = [];
                    tempData.push(diseaseType[i]);
                    tempData.push(diseaseCount[i]);

                    diseaseData.push(tempData);
                }

                var data = google.visualization.arrayToDataTable(diseaseData);

                var options = {
                    title: '질병 종류별 정보'
                };

                var chart = new google.visualization.PieChart(document.getElementById('disPieChart'));

                chart.draw(data, options);
            }

            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawDonutChart);

            function drawDonutChart() {
                let diseaseBody = document.getElementsByTagName("tbody");
                let diNameTR = document.getElementsByClassName("diNameTR");

                let diseaseTR = document.getElementsByClassName("diseaseTR");
                let diTR = document.getElementsByClassName("diTR");

                let diTRLength = diseaseTR.length + diTR.length;

                let diseaseName = [];
                let diseaseCount = [];
                for(let i = diTRLength; i < diTRLength + diNameTR.length; i++) {
                    diseaseName.push(diseaseBody[0].children[i].children[0].textContent);
                    diseaseCount.push(parseInt(diseaseBody[0].children[i].children[1].textContent));
                }

                let diseaseData = [];
                diseaseData.push(['질병 이름', '빈도']);

                console.log(diseaseName);
                console.log(diseaseCount);

                for(let i = 0; i < diNameTR.length; i++) {
                    let tempData = [];
                    tempData.push(diseaseName[i]);
                    tempData.push(diseaseCount[i]);

                    diseaseData.push(tempData);
                }

                console.log(diseaseData);

                var data = google.visualization.arrayToDataTable(diseaseData);

                var options = {
                    title: '질병 이름별 정보',
                    slices: {
                        0: { color: 'yellowgreen' },
                        1: { color: 'pink' },
                        2: { color: '#F8EB00' }
                    }
                };

                var chart = new google.visualization.PieChart(document.getElementById('disDonutChart'));
                chart.draw(data, options);
            }

            // google.charts.load('current', {'packages':['treemap']});
            // google.charts.setOnLoadCallback(drawTreeMap);
            // function drawTreeMap() {
            //
            //     let diseaseBody = document.getElementsByTagName("tbody");
            //     let diTR = document.getElementsByClassName("diTR");
            //
            //     let diseaseTR = document.getElementsByClassName("diseaseTR");
            //
            //     let diName = [];
            //     let diType = [];
            //     for(let i = diseaseTR.length; i < diseaseTR.length + diTR.length; i++) {
            //         diName.push(diseaseBody[0].children[i].children[0].textContent);
            //         diType.push(diseaseBody[0].children[i].children[1].textContent);
            //     }
            //
            //     let diData = [];
            //     diData.push(['질병명', '질병타입', '크기', '색깔']);
            //
            //     for(let i = 0; i < diTR.length + 1; i++) {
            //         let tempData = [];
            //         tempData.push(diName[i]);
            //         tempData.push(diType[i]);
            //         tempData.push(0);
            //         tempData.push(0);
            //
            //         diData.push(tempData);
            //
            //         console.log(diData[i]);
            //     }
            //
            //     for(let j = 0; j < diTR.length + 1; j++) {
            //         // if(0번 1번 같으면)
            //         // tempData[2] += 1;
            //
            //
            //     }
            //
            //     var data = google.visualization.arrayToDataTable(diData);
            //     // var data = google.visualization.arrayToDataTable([
            //     //     ['질병명', '질병타입', 'Market trade volume (size)', 'Market increase/decrease (color)'],
            //     //     ['Global',    null,                 0,                               0],
            //     //     ['America',   'Global',             0,                               0],
            //     //     ['Europe',    'Global',             0,                               0],
            //     //     ['Asia',      'Global',             0,                               0],
            //     //     ['Australia', 'Global',             0,                               0],
            //     //     ['Africa',    'Global',             0,                               0],
            //     //     ['Brazil',    'America',            11,                              10],
            //     //     ['USA',       'America',            52,                              31],
            //     //     ['Mexico',    'America',            24,                              12],
            //     //     ['Canada',    'America',            16,                              -23],
            //     //     ['France',    'Europe',             42,                              -11],
            //     //     ['Germany',   'Europe',             31,                              -2],
            //     //     ['Sweden',    'Europe',             22,                              -13],
            //     //     ['Italy',     'Europe',             17,                              4],
            //     //     ['UK',        'Europe',             21,                              -5],
            //     //     ['China',     'Asia',               36,                              4],
            //     //     ['Japan',     'Asia',               20,                              -12],
            //     //     ['India',     'Asia',               40,                              63],
            //     //     ['Laos',      'Asia',               4,                               34],
            //     //     ['Mongolia',  'Asia',               1,                               -5],
            //     //     ['Israel',    'Asia',               12,                              24],
            //     //     ['Iran',      'Asia',               18,                              13],
            //     //     ['Pakistan',  'Asia',               11,                              -52],
            //     //     ['Egypt',     'Africa',             21,                              0],
            //     //     ['S. Africa', 'Africa',             30,                              43],
            //     //     ['Sudan',     'Africa',             12,                              2],
            //     //     ['Congo',     'Africa',             10,                              12],
            //     //     ['Zaire',     'Africa',             8,                               10]
            //     // ]);
            //
            //     tree = new google.visualization.TreeMap(document.getElementById('disTreeMap'));
            //
            //     tree.draw(data, {
            //         minColor: '#f00',
            //         midColor: '#ddd',
            //         maxColor: '#0d0',
            //         headerHeight: 15,
            //         fontColor: 'black',
            //         showScale: true
            //     });
            // }

             // google.charts.load("current", {packages:["corechart"]});
             // google.charts.setOnLoadCallback(drawHistogram);
             // function drawHistogram() {
             //
             //     let diseaseRows = document.getElementsByTagName("tr");
             //
             //     let diseaseType = [];
             //     let diseaseCount = [];
             //     for(let i = 0; i < diseaseRows.length; i++) {
             //         diseaseType.push(diseaseRows[i].children[0].textContent);
             //         diseaseCount.push(parseInt(diseaseRows[i].children[1].textContent));
             //     }
             //
             //     let diseaseData = [];
             //     diseaseData.push(['질병', '빈도']);
             //
             //     for(let i = 0; i < diseaseRows.length; i++) {
             //         let tempData = [];
             //         tempData.push(diseaseType[i]);
             //         tempData.push(diseaseCount[i]);
             //
             //         diseaseData.push(tempData);
             //     }
             //
             //     var data = google.visualization.arrayToDataTable(diseaseData);
             //
             //     var options = {
             //         title: '질병 진단 정보 (히스토그램)',
             //         legend: { position: 'none' },
             //         colors: ['navy'],
             //     };
             //
             //     var chart = new google.visualization.Histogram(document.getElementById('disHistogram'));
             //     chart.draw(data, options);
             // }

            // google.charts.load('current', {packages: ['corechart', 'bar']});
            // google.charts.setOnLoadCallback(drawBarChart);
            //
            // function drawBarChart() {
            //
            //     let diseaseBody = document.getElementsByTagName("tbody");
            //     let diseaseTR = document.getElementsByClassName("diseaseTR");
            //
            //     let diseaseType = [];
            //     let diseaseCount = [];
            //     for(let i = 0; i < diseaseTR.length; i++) {
            //         diseaseType.push(diseaseBody[0].children[i].children[0].textContent);
            //         diseaseCount.push(parseInt(diseaseBody[0].children[i].children[1].textContent));
            //     }
            //
            //     let diseaseData = [];
            //     diseaseData.push(['질병', '빈도']);
            //
            //     for(let i = 0; i < diseaseTR.length; i++) {
            //         let tempData = [];
            //         tempData.push(diseaseType[i]);
            //         tempData.push(diseaseCount[i]);
            //
            //         diseaseData.push(tempData);
            //     }
            //
            //     var data = google.visualization.arrayToDataTable(diseaseData);
            //
            //     var options = {
            //         title: '질병 진단 정보 (막대 그래프)',
            //         chartArea: {width: '50%'},
            //         hAxis: {
            //             title: '빈도',
            //             minValue: 0
            //         },
            //         vAxis: {
            //             title: '질병'
            //         }
            //     };
            //
            //     var chart = new google.visualization.BarChart(document.getElementById('disBarChart'));
            //     chart.draw(data, options);
            // }
            //
            // google.charts.load('current', {'packages':['corechart']});
            // google.charts.setOnLoadCallback(drawStepChart);
            //
            // function drawStepChart() {
            //
            //     let diseaseBody = document.getElementsByTagName("tbody");
            //     let diseaseTR = document.getElementsByClassName("diseaseTR");
            //
            //     let diseaseType = [];
            //     let diseaseCount = [];
            //     for(let i = 0; i < diseaseTR.length; i++) {
            //         diseaseType.push(diseaseBody[0].children[i].children[0].textContent);
            //         diseaseCount.push(parseInt(diseaseBody[0].children[i].children[1].textContent));
            //     }
            //
            //     let diseaseData = [];
            //     diseaseData.push(['질병', '빈도']);
            //
            //     for(let i = 0; i < diseaseTR.length; i++) {
            //         let tempData = [];
            //         tempData.push(diseaseType[i]);
            //         tempData.push(diseaseCount[i]);
            //
            //         diseaseData.push(tempData);
            //     }
            //
            //     var data = google.visualization.arrayToDataTable(diseaseData);
            //
            //     var options = {
            //         title: '질병 진단 정보 (계단 그래프)',
            //         vAxis: {title: '빈도'},
            //         isStacked: true
            //     };
            //
            //     var chart = new google.visualization.SteppedAreaChart(document.getElementById('disStepChart'));
            //
            //     chart.draw(data, options);
            // }
        </script>

        <footer th:replace="fragments/footer :: footerFragment"></footer>
    </body>
</html>