<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footerFragment" class="footer_area padding_top" id="contactus">
    <!-- footer part start-->
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-8 col-xl-6">
                    <div class="subscribe_part_text text-center">
                        <h3>Developers</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between section_padding">

                <div class="col-xl-2 col-sm-6 col-md-3 mb-4 mb-xl-0 single-footer-widget">
                    <h4>
                        이다은
                        <a href="https://github.com/da-nyee"><img src="/../../static/images/github-fill.png" alt="이다은_깃헙" /></a>
                        <a href="https://www.instagram.com/da_nyee/"><img src="/../../static/images/instagram-fill.png" alt="이다은_인스타" /></a>
                    </h4>
                    </h4>
                </div>
                <div class="col-xl-2 col-sm-6 col-md-3 mb-4 mb-xl-0 single-footer-widget">
                    <h4>
                        전현우
                        <a href="https://github.com/HyeonWuJeon"><img src="/../../static/images/github-fill.png" alt="전현우_깃헙" /></a>
                        <a href="https://www.instagram.com/chun1307/"><img src="/../../static/images/instagram-fill.png" alt="전현우_인스타" /></a>
                    </h4>
                </div>
                <div class="col-xl-2 col-sm-6 col-md-3 mb-4 mb-xl-0 single-footer-widget">
                    <h4>
                        황승환
                        <a href="https://github.com/workhardslave"><img src="/../../static/images/github-fill.png" alt="황승환_깃헙" /></a>
                        <a href="https://www.instagram.com/workhardslave/"><img src="/../../static/images/instagram-fill.png" alt="황승환_인스타" /></a>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright_text">
                        <p class="footer-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | 가천대학교 컴퓨터공학과 이다은, 전현우, 황승환</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer part end-->

        <!-- jquery plugins here-->
        <!-- jquery -->
        <script src="/../static/leopet/js/jquery-1.12.1.min.js"></script>
        <!-- popper js -->
        <script src="/../static/leopet/js/popper.min.js"></script>
        <!-- bootstrap js -->
        <script src="/../static/leopet/js/bootstrap.min.js"></script>
        <!-- counterup js -->
        <script src="/../static/leopet/js/jquery.counterup.min.js"></script>
        <!-- waypoints js -->
        <script src="/../static/leopet/js/waypoints.min.js"></script>
        <!-- easing js -->
        <script src="/../static/leopet/js/jquery.magnific-popup.js"></script>
        <!-- particles js -->
        <script src="/../static/leopet/js/owl.carousel.min.js"></script>
        <!-- custom js -->
        <script src="/../static/leopet/js/custom.js"></script>
        <!-- circle progress bar js -->
        <script src="/../static/js/plugin.js"></script>
    </footer>
</html>