<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footerFragment">
        <!-- footer section -->
        <section class="container-fluid footer_section">
            <p>
                Copyright &copy; 가천대학교 컴퓨터공학과 이다은, 전현우, 황승환
            </p>
        </section>
        <!-- footer section -->

        <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    </footer>
</html>