<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <header th:fragment="headerFragment">
        <!-- header section starts -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
                    <a class="navbar-brand" href="/">
                        <img src="../static/images/logo.png" alt=""/><span>GUHAEDOG</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav  ">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">반려견 질병 진단</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">동물병원 예약</a>

                                </li>
                                <li class="nav-item">
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/member/login}">마이페이지</a>
                                </li>
                                <li class="nav-item">
                                    <a sec:authorize="isAnonymous()" th:href="@{/member/new}">회원가입</a>
                                </li>
                            </ul>
                        </div>
                        <a sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </header>
</html>