<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: configFragment">
<body>
<header th:replace="fragments/header :: headerFragment"></header>
<div class="col-md-12"></div>
<div class="col-md-12"></div>
<div class="col-md-12">
    <div class="container">

        <div>
            <table class="table table-horizontal table-striped table-hover table-bordered">
                <thead class="thead-strong">
                <tr>
                    <th>이름</th>
                    <th>나이</th>
                    <th>견종</th>
                    <th>성별</th>
                    <th>생일</th>
                </tr>
                </thead>
                <tbody id="tbody">


                <tr th:each="dog : ${dogs}">
                    <td><a th:href = "@{/dogs/settings/{id}(id = ${dog.id})}" th:text="${dog.name}"></a></td>
                    <td th:text="${dog.age}"></td>
                    <td th:text="${dog.type}"></td>
                    <td th:text="${dog.gender}"></td>
                    <td th:text="${dog.birth}"></td>
                </tr>
                </a>

                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>
