<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: configFragment" />
<body>
<header th:replace="fragments/header :: headerFragment"></header>

<div class="limiter">
    <div class="container-login100" style="background-image: url('/../../../static/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-49">예약정보수정</span>

                <input type="text" id="reserveId" th:field="${reserve.id}" hidden="true">

                <div class="form-group">
                    <label th:for="name">병원이름</label>
                    <input type="text" id="hosName" th:field="${reserve.name}" class="form-control" readonly required>
                </div>



                <div class="form-option">
                    <label th:for="date">예약시간</label>
                    <select id = "hosDate" th:field="${reserve.date}">
                        <option th:value="'10:00~11:00'">10:00~11:00</option>
                        <option th:value="'11:00~12:00'">11:00~12:00</option>
                        <option th:value="'14:00~15:00'">14:00~15:00</option>
                        <option th:value="'15:00~16:00'">15:00~16:00</option>
                        <option th:value="'16:00~17:00'">16:00~17:00</option>
                        <option th:value="'17:00~18:00'">17:00~18:00</option>
                    </select>
                </div>


                <div class="form-group">
                    <label th:for="birth">병원주소</label>
                    <input type="text" id="hosAddr" th:field="${reserve.address}" class="form-control" readonly required>
                </div>

                <div class="form-group">
                    <label th:for="phone">전화번호</label>
                    <input type="text" id="hosTel" th:field="${reserve.tel}" class="form-control"
                           maxlength="11" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" readonly required>
                </div>


                <div class="form-group">
                    <label th:for="birth">예약내용</label>
                    <input type="text" id="hosDesc" th:field="${reserve.description}" class="form-control" required>
                </div>
                <br/>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <a th:href="'javascript:updateReserve()'" class="login100-form-btn">수정하기</a>
                    </div>
                </div>
                <br/>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <a th:href="'javascript:deleteReserve()'" class="login100-form-btn">삭제하기</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>
<script th:inline="javascript">


    function updateReserve() {
        let data = {
            date: $("#hosDate").val(),     // 방문날짜, 예약내용 변경 가능
            description: $("#hosDesc").val(),
        };

        console.log(data);


        let id = $("#reserveId").val();

        $.ajax({
            type: 'PUT',
            url: '/api/member/reserve/settings/' + id,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data)
        }).done(function() {
            console.log(data);
            alert('정보수정 되었습니다!');
            window.location.href = "/member/reservesInfo";
        }).fail(function(request, status, error) {
            alert(JSON.stringify(error));
            window.location.href = "/member/reserves/settings/" + id;
            alert("code: " + request.status + "\n" + "message: " + request.responseText + "\n" + "er" +
                "ror: " + error);
        });
    }

    function deleteReserve(){

        let id = $("#reserveId").val();

        console.log("---------");

        $.ajax({
            type: 'DELETE',
            url: '/api/member/reserve/delete/' + id,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        }).done(function () {
            console.log(name);
            alert('삭제 되었습니다.');
            window.location.href = '/member/reservesInfo/';
        }).fail(function (request, status, error) {
            alert(JSON.stringify(error));
            alert("code: " + request.status + "\n" + "message: " + request.responseText + "\n" + "error: " + error);
        });

        console.log(data);
    }
    ``</script>



<!--===============================================================================================-->
<script src="../../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../../../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../../../static/vendor/bootstrap/js/popper.js"></script>
<script src="../../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../../../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../../../static/vendor/daterangepicker/moment.min.js"></script>
<script src="../../../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
<script src="../../../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="../../../static/js/main.js"></script>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="../../../static/js/postcode-api.js"></script>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>